body{
    /* From subtlepatterns.com, by Mohawk Studios */
    background: url(/static/img/use_your_illusion.png) repeat 0 0;
}
.sidebar-nav {
    padding: 9px 0;
}
.nav-item{
    padding: 2px;
}
.button{
    width: 80%;
    height: 30px;
}
#loading_img{
    position: relative;
    display: none;
    text-align: center;
    color: #ced1d4;
}
#loading_img img{
    width: 50px;
}
.well-small{
    /* From subtlepatterns.com, by Luuk van Baars */
    background: url(/static/img/shattered.png) repeat 0 0;
}
h2{
    color: #ced1d4;
}
h1{
    color: #ced1d4;
}
.nav-header{
    color: #3c4044;
}
.thumbnail{
    /*border-color: #3c4044;*/
    border: none;
    color: #ced1d4;
}
#login_form button{
    display: inline;
}
.label{
    margin: 5px;
}
#license{
    color: #8AB8E6;
    text-align: center;
}
#tos{
    text-align: center;
}
#title{
    color: #ced1d4;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    top: 20px;
}
#subtitle{
    color: #ced1d4;
    font-size: .35em;
    font-weight: normal;
}
.small_margin_bottom{
    margin-bottom: 5px;
}
.small_margin_top{
    margin-top: 5px;
}
.medium_margin_bottom{
    margin-bottom: 10px;
}
.medium_margin_top{
    margin-top: 10px;
}
.well-small{
    margin-bottom: 10px;
}
.center{
    text-align: center;
}
#user_info{
    font-size: .3em;
    margin-top: 20px;
    margin-right: 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
}
.light_text{
    color: #ced1d4;
}
#locked_text{
    color: #990000;
}
#next_unlock_text{
}
#please_logon_text{
    color: #009933;
}
.large{
    font-size: 1.2em;
}
.pad_box{
    padding: 10px;
}
.photo_set_label{
    color: #ced1d4;
    margin: 0 0 10px 25px;
}
.photo_set{
    margin-bottom: 30px;
}
