.photo{
    width: 200px;
    padding: 2px;
}
body{
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.nav-item{
    padding: 5px;
}
.button{
    width: 80%;
    height: 30px;
}
#loading_img{
    position: relative;
    display: none;
    text-align: center;
}
#loading_img img{
    width: 50px;
}
#ui-datepicker-div{
    z-index: 9999999;
}
