body{
    padding-top: 60px;
    padding-bottom: 40px;
    background: url(/static/img/use_your_illusion.png) repeat 0 0;
}
.sidebar-nav {
    padding: 9px 0;
}
.nav-item{
    padding: 5px;
}
.button{
    width: 80%;
    height: 30px;
}
#loading_img{
    position: relative;
    display: none;
    text-align: center;
    color: #ced1d4;
}
#loading_img img{
    width: 50px;
}
.well{
    background: url(/static/img/shattered.png) repeat 0 0;
}
h2{
    color: #ced1d4;
}
h1{
    color: #ced1d4;
}
.nav-header{
    color: #3c4044;
}
.thumbnail{
    border-color: #3c4044;
}
