<!DOCTYPE html>
<html lang="en"><head>
        <title> Mowmowmowmowmow </title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="static/jquery-ui/css/mowmow/jquery-ui-1.9.1.custom.min.css">
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="static/mowmow.css">
    </head>
    <body>
        <div class="page-header">
            <h1>Baileyface<small> Feed the Bailey!</small></h1>
        </div>
        <div class='containter-fluid'>
            <div class="row-fluid">
                <!-- Navigation column -->
                <div class="span3">
                    <!-- cool well effect -->
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                What would you like to do mow?
                            <li class="nav-item">
                                <button id="take_photo_button" class="btn btn-block">
                                    <i class='icon-heart'></i> Feed the Bailey!
                                </button>
                            </li>
                            <li class="nav-item">
                                <button id="show_recent_photos" class="btn btn-block">
                                    <i class='icon-camera'></i> Recent Photos
                                </button>
                            </li>
                            <li class="nav-item">
                                <button id="show_date_picker" class="btn btn-block">
                                    <i class='icon-calendar'></i> Photos by Date
                                </button>
                                <br>
                                <div id="date_picker_container">
                                    <span id="date_picker"></span>
                                </div>
                            </li>
                        </ul>
                    </div><!-- !Cool well effect -->
                    <div class="well">
                        <dl class="">
                            <dt>Bailey's last nomtime was at</dt>
                            <dd><span id="last_nomtime"></span></dd><br>
                            <dt>The next scheduled feeding time is from</dt>
                            <dd>
                            <span id="next_nom_start"></span> until
                            <span id="next_nom_end"></span> 
                            <span id="next_start_day"></span>
                            </dd><br>
                            <dt>Can you click the "Feed" button RIGHT NOW?</dt>
                            <dd><span id="feeder_lock"></span>!</dd><br>
                        </dl>
                    </div>
                </div><!-- !Sidebar Navigation -->
                <!-- Main column for photo display -->
                <div class="span8" id="main_display">
                    <div id="loading_img">
                        Feeding the cat!
                        <img src="static/img/nomnom.gif" alt="loading...">
                        omnomnomnomnom...
                    </div>
                    <h2 id="photo_display_header"></h2>
                        <ul class="thumbnails" id="thumbs">
                        </ul>
                </div><!-- !Main Column -->
            </div><!-- !Main row -->
        </div> <!-- !Bootstrap container -->
        <div id="feedresult_modal" class="modal hidden fade" tabindex="-1" role="dialog" aria-labelledby="feedresult_label"
            aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="icon-remove"></i> 
                </button>
                <h3 id="feedresult_label">Nom Results</h3>
            </div>
            <div class="modal-body">
                <p><span id="feedresult_text"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i> Close
                </button>
            </div>
        </div>

        <div id="photo_modal" class="modal hidden fade" tabindex="-1" role="dialog" aria-labelledby="photo_label"
            aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="icon-remove"></i> 
                </button>
                <h3 id="photo_label"></h3>
            </div>
            <div class="modal-body">
                    <img id="modal_image">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    <i class="icon-remove"></i> Close
                </button>
            </div>
        </div>


        <!-- Templates -->
        <script id="photo_template" type="text/template">
            <li class="span3">
                <div class="thumbnail">
                    <img src="{{file_path}}/{{file_name}}" class="photo"
                        data-photo_id="{{index}}">
                        {{time_stamp}} <br> {{cycle_name}} cycle
                </div>
            </li>
        </script>

        <!-- Saw this in the Bootstrap docs, supposedly makes the page load faster
        when the js is loaded at the end of the page.-->
        <script type="text/javascript" src="static/date.js"></script>
        <script type="text/javascript" src="static/jquery.js"></script>
        <!-- Needed to load Bootstrap before jquery-ui or else the buttons didn't look right -->
        <script type="text/javascript" src="static/jquery-ui/js/jquery-ui-1.9.1.custom.min.js"></script>
        <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"> </script>
        <script type="text/javascript" src="static/mustache.js"></script>
        <script type="text/javascript" src="static/mowmow.js"></script>
    </body>
</html>
